/**
 * @file
 * Nav Button Mobile.
 */

[dir="ltr"] .mobile-nav-button {   margin-left: auto
}

[dir="rtl"] .mobile-nav-button {   margin-right: auto
}

[dir="ltr"] .mobile-nav-button {   margin-right: -0.33333rem
}

[dir="rtl"] .mobile-nav-button {   margin-left: -0.33333rem
}

[dir="ltr"] .mobile-nav-button {   padding-left: 0.33333rem
}

[dir="rtl"] .mobile-nav-button {   padding-right: 0.33333rem
}

[dir="ltr"] .mobile-nav-button {   padding-right: 0.33333rem
}

[dir="rtl"] .mobile-nav-button {   padding-left: 0.33333rem
}

.mobile-nav-button {
  position: relative;
  z-index: 505; /* Appear above mobile nav. */
  display: flex;   align-items: center;   -ms-grid-row-align: center;   align-self: center;   width: 2rem;   height: 2rem;   padding-top: 0;   padding-bottom: 0;   cursor: pointer;   border: none;   background: transparent;   -webkit-appearance: none;   appearance: none
}

.mobile-nav-button:focus {
    outline: solid 2px #0c7fc8;
  }

.mobile-nav-button:active {
    color: inherit; /* Override Safari's default UA styles. */
  }

@media (min-width: 27.77778rem) {

[dir="ltr"] .mobile-nav-button {
    padding-left: 1rem
   }

[dir="rtl"] .mobile-nav-button {
    padding-right: 1rem
   }

.mobile-nav-button {
    display: inline-flex;
    width: auto
}
  }

/* Text that says "menu". */

.mobile-nav-button__label {
  position: absolute;   display: block;   overflow: hidden;   clip:     rect(       1px,
      1px,
      1px,
      1px     );   width: 1px;   height: 1px;   word-wrap: normal
}

@media (min-width: 27.77778rem) {

[dir="ltr"] .mobile-nav-button__label {
    margin-right: 0.66667rem
   }

[dir="rtl"] .mobile-nav-button__label {
    margin-left: 0.66667rem
   }

.mobile-nav-button__label {
    position: static;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
    letter-spacing: 0.05em;
    font-size: 0.77778rem;
    font-weight: 600
}
  }

.mobile-nav-button__icon {
  position: relative;   display: block;   width: 2rem;   height: 0;   border-top: solid 3px #5c9ec8
}

[dir="ltr"] .mobile-nav-button__icon:before {
    left: 0
}

[dir="rtl"] .mobile-nav-button__icon:before {
    right: 0
}

.mobile-nav-button__icon:before {
    position: absolute;
    top: -0.61111rem;
    width: 100%;
    height: 0;
    content: "";
    transition: all 0.2s;
    border-top: solid 3px #5c9ec8;
  }

[dir="ltr"] .mobile-nav-button__icon:after {
    left: 0
}

[dir="rtl"] .mobile-nav-button__icon:after {
    right: 0
}

.mobile-nav-button__icon:after {
    position: absolute;
    top: auto;
    bottom: -0.44444rem;
    width: 100%;
    height: 0;
    content: "";
    transition: all 0.2s;
    border-top: solid 3px #5c9ec8;
  }

.mobile-nav-button[aria-expanded="true"] .mobile-nav-button__icon {
  border-top: 0
}

.mobile-nav-button[aria-expanded="true"] .mobile-nav-button__icon:before {
    top: 0;
    transform: rotate(-45deg);
  }

.mobile-nav-button[aria-expanded="true"] .mobile-nav-button__icon:after {
    top: 0;
    transform: rotate(45deg);
  }
