/**
 * @file
 * Grid system definition for the footer top and footer bottom layouts.
 */

/**
 * Creates stacking context ensuring that child elements can never appear in
 * front of mobile navigation.
 */

.site-footer {
  position: relative;
  z-index: 1;
}

.site-footer__inner {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.region--footer_top__inner > *, .region--footer_bottom__inner > * {
    margin-bottom: 2rem
  }

@media (min-width: 38.88889rem) {

.region--footer_top__inner > *, .region--footer_bottom__inner > * {
      flex: 1;       margin-bottom: 0
  }       [dir="ltr"] .region--footer_top__inner > *:not(:last-child),[dir="ltr"]  .region--footer_bottom__inner > *:not(:last-child) {
        margin-right: 2rem;
  }       [dir="rtl"] .region--footer_top__inner > *:not(:last-child),[dir="rtl"]  .region--footer_bottom__inner > *:not(:last-child) {
        margin-left: 2rem;
  }
    }

@media (min-width: 38.88889rem) {

.region--footer_top__inner,
.region--footer_bottom__inner {
    display: flex;
    flex-wrap: wrap
}
  }
