/**
 * @file
 * Base Layout.
 */

 @import "../base/media-queries.pcss.css";

 .container {
   width: 100%;
   /* max-width: var(--max-width); */
   padding-inline: var(--container-padding);   @media (--nav) {
     padding-inline: var(--container-padding-nav);
   }
 }
 
 .page-wrapper {
   /* max-width: var(--max-bg-color); */
   background: var(--color--white);
 }
 
 /**
  * Creates stacking context ensuring that child elements can never appear in
  * front of mobile navigation.
  */
 .layout-main-wrapper {
   position: relative;
   z-index: 1;
   min-height: 100vh;
 }
 
 /* Contains the social sidebar, and the primary content area. */
 .layout-main {
   @media (--nav) {
     display: flex;
     flex-direction: row-reverse;
     flex-wrap: wrap;
   }
 }
 
 .main-content {
   @media (--nav) {
     width: calc(100% - var(--content-left));
     margin-left:auto;
     margin-right:auto;
   }
 }
 
 .region--breadcrumb {
  margin-left: auto;
  margin-right: auto;
  display:block;
  width:100%;

  & .block-system-breadcrumb-block{
    overflow: auto;
    display: block;
    flex-basis: calc(75% - var(--grid-gap--md)*0.75);

    & .breadcrumb{
      overflow: hidden;
    }

  }

  & .search-block-form{
    flex-basis: calc(25% - var(--grid-gap--md)*0.25);
  }

  & .search-form{
   width: fit-content;
   float: none;
   position: relative;
   width: 300px

  }

  @media (--nav) {
    display:flex;

    & .search-form {
      float: right;
    }
  }

 & .form-search{
   padding-left: 60px;
 }

 & .form-actions{
   position: absolute;
   left: 7px;
   top: 5px;
 }

 & .search-form__submit {
     width:33px;
     height:44px;
     font-size:0px;
     border:0px;
     background-color: transparent;
     background-image: url("../../images/icon/Icon-search.svg");
     background-repeat: no-repeat;

     &:hover{
      background-color: transparent;
      background-image: url("../../images/icon/Icon-search.svg");
      background-repeat: no-repeat;
    }

 }
}
 
 .main-content__container {
  padding-block-start: var(--sp);
  
  @media (--md) {
    padding-block-start: var(--sp1);
    padding-left: 0px;
    padding-right: 0px;   
  }
}
 