/**
 * @file
 * Responsive styles for views grid horizontal layout.
 */

/*
 * Media query breakpoints.
 * Processed by postcss/postcss-custom-media.
 */

/* Navigation related breakpoints */

/* Grid related breakpoints */

/* Grid shifts from 6 to 14 columns. */

/* Width of the entire grid maxes out. */

:root {
  --views-grid-layout-gap: var(--sp);
}

.views-view-grid--horizontal {
  display: flex;
  flex-wrap: wrap
}

.views-view-grid--horizontal.cols-1 > * {
      flex-basis: 100%;
      margin-inline-end: 0;
    }

.views-view-grid--horizontal.cols-2 > * {
      flex-basis: 100%;
      margin-inline-end: 0

      /* 2 column layout. */
    }

@media (min-width: 38.88889rem) {

.views-view-grid--horizontal.cols-2 > * {
        flex-basis: calc(50% - var(--views-grid-layout-gap)*0.5);         margin-inline-end: var(--views-grid-layout-gap)
    }         .views-view-grid--horizontal.cols-2 > *:nth-child(2n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal.cols-3 > * {
      flex-basis: 100%;
      margin-inline-end: 0

      /* 2 column layout. */
    }

@media (min-width: 38.88889rem) {

.views-view-grid--horizontal.cols-3 > * {
        flex-basis: calc(50% - var(--views-grid-layout-gap)*0.5);         margin-inline-end: var(--views-grid-layout-gap)
    }         .views-view-grid--horizontal.cols-3 > *:nth-child(2n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal.cols-3 > * {

      /* 3 column layout. */
    }

@media (min-width: 55.55556rem) {

.views-view-grid--horizontal.cols-3 > * {
        flex-basis: calc(33.33333% - var(--views-grid-layout-gap)*0.66667)
    }         .views-view-grid--horizontal.cols-3 > *:nth-child(2n) {
          margin-inline-end: var(--views-grid-layout-gap);
        }

        .views-view-grid--horizontal.cols-3 > *:nth-child(3n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal.cols-4 > * {
      flex-basis: 100%;
      margin-inline-end: 0

      /* 2 column layout. */
    }

@media (min-width: 38.88889rem) {

.views-view-grid--horizontal.cols-4 > * {
        flex-basis: calc(50% - var(--views-grid-layout-gap)*0.5);         margin-inline-end: var(--views-grid-layout-gap)
    }         .views-view-grid--horizontal.cols-4 > *:nth-child(2n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal.cols-4 > * {

      /* 4 column layout. */
    }

@media (min-width: 55.55556rem) {

.views-view-grid--horizontal.cols-4 > * {
        flex-basis: calc(25% - var(--views-grid-layout-gap)*0.75)
    }         .views-view-grid--horizontal.cols-4 > *:nth-child(2n) {
          margin-inline-end: var(--views-grid-layout-gap);
        }

        .views-view-grid--horizontal.cols-4 > *:nth-child(4n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal.cols-5 > * {
      flex-basis: 100%;
      margin-inline-end: 0

      /* 2 column layout. */
    }

@media (min-width: 27.77778rem) {

.views-view-grid--horizontal.cols-5 > * {
        flex-basis: calc(50% - var(--views-grid-layout-gap)*0.5);         margin-inline-end: var(--views-grid-layout-gap)
    }         .views-view-grid--horizontal.cols-5 > *:nth-child(2n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal.cols-5 > * {

      /* 3 column layout. */
    }

@media (min-width: 38.88889rem) {

.views-view-grid--horizontal.cols-5 > * {
        flex-basis: calc(33.33333% - var(--views-grid-layout-gap)*0.66667)
    }         .views-view-grid--horizontal.cols-5 > *:nth-child(2n) {
          margin-inline-end: var(--views-grid-layout-gap);
        }

        .views-view-grid--horizontal.cols-5 > *:nth-child(3n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal.cols-5 > * {

      /* 5 column layout. */
    }

@media (min-width: 55.55556rem) {

.views-view-grid--horizontal.cols-5 > * {
        flex-basis: calc(20% - var(--views-grid-layout-gap)*0.8)
    }         .views-view-grid--horizontal.cols-5 > *:nth-child(3n) {
          margin-inline-end: var(--views-grid-layout-gap);
        }

        .views-view-grid--horizontal.cols-5 > *:nth-child(5n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal.cols-6 > * {
      flex-basis: 100%;
      margin-inline-end: 0

      /* 2 column layout. */
    }

@media (min-width: 27.77778rem) {

.views-view-grid--horizontal.cols-6 > * {
        flex-basis: calc(50% - var(--views-grid-layout-gap)*0.5);         margin-inline-end: var(--views-grid-layout-gap)
    }         .views-view-grid--horizontal.cols-6 > *:nth-child(2n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal.cols-6 > * {

      /* 3 column layout. */
    }

@media (min-width: 38.88889rem) {

.views-view-grid--horizontal.cols-6 > * {
        flex-basis: calc(33.33333% - var(--views-grid-layout-gap)*0.66667)
    }         .views-view-grid--horizontal.cols-6 > *:nth-child(2n) {
          margin-inline-end: var(--views-grid-layout-gap);
        }

        .views-view-grid--horizontal.cols-6 > *:nth-child(3n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal.cols-6 > * {

      /* 6 column layout. */
    }

@media (min-width: 55.55556rem) {

.views-view-grid--horizontal.cols-6 > * {
        flex-basis: calc(16.66667% - var(--views-grid-layout-gap)*0.83333)
    }         .views-view-grid--horizontal.cols-6 > *:nth-child(3n) {
          margin-inline-end: var(--views-grid-layout-gap);
        }

        .views-view-grid--horizontal.cols-6 > *:nth-child(6n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal.cols-7 > * {
      flex-basis: 100%;
      margin-inline-end: 0

      /* 2 column layout. */
    }

@media (min-width: 27.77778rem) {

.views-view-grid--horizontal.cols-7 > * {
        flex-basis: calc(50% - var(--views-grid-layout-gap)*0.5);         margin-inline-end: var(--views-grid-layout-gap)
    }         .views-view-grid--horizontal.cols-7 > *:nth-child(2n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal.cols-7 > * {

      /* 3 column layout. */
    }

@media (min-width: 38.88889rem) {

.views-view-grid--horizontal.cols-7 > * {
        flex-basis: calc(33.33333% - var(--views-grid-layout-gap)*0.66667)
    }         .views-view-grid--horizontal.cols-7 > *:nth-child(2n) {
          margin-inline-end: var(--views-grid-layout-gap);
        }

        .views-view-grid--horizontal.cols-7 > *:nth-child(3n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal.cols-7 > * {

      /* 7 column layout. */
    }

@media (min-width: 55.55556rem) {

.views-view-grid--horizontal.cols-7 > * {
        flex-basis: calc(14.28571% - var(--views-grid-layout-gap)*0.85714)
    }         .views-view-grid--horizontal.cols-7 > *:nth-child(3n) {
          margin-inline-end: var(--views-grid-layout-gap);
        }

        .views-view-grid--horizontal.cols-7 > *:nth-child(7n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal.cols-8 > * {
      flex-basis: 100%;
      margin-inline-end: 0

      /* 2 column layout. */
    }

@media (min-width: 27.77778rem) {

.views-view-grid--horizontal.cols-8 > * {
        flex-basis: calc(50% - var(--views-grid-layout-gap)*0.5);         margin-inline-end: var(--views-grid-layout-gap)
    }         .views-view-grid--horizontal.cols-8 > *:nth-child(2n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal.cols-8 > * {

      /* 4 column layout. */
    }

@media (min-width: 38.88889rem) {

.views-view-grid--horizontal.cols-8 > * {
        flex-basis: calc(25% - var(--views-grid-layout-gap)*0.75)
    }         .views-view-grid--horizontal.cols-8 > *:nth-child(2n) {
          margin-inline-end: var(--views-grid-layout-gap);
        }

        .views-view-grid--horizontal.cols-8 > *:nth-child(4n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal.cols-8 > * {

      /* 8 column layout. */
    }

@media (min-width: 55.55556rem) {

.views-view-grid--horizontal.cols-8 > * {
        flex-basis: calc(12.5% - var(--views-grid-layout-gap)*0.875)
    }         .views-view-grid--horizontal.cols-8 > *:nth-child(4n) {
          margin-inline-end: var(--views-grid-layout-gap);
        }

        .views-view-grid--horizontal.cols-8 > *:nth-child(8n) {
          margin-inline-end: 0;
        }
      }

.views-view-grid--horizontal > * {
    flex-grow: 0;
    flex-shrink: 0;
    margin-block-end: var(--views-grid-layout-gap);
  }
