/**
 * @file
 * Region default layout.
 */

.region > * {
  margin-bottom: 1rem;
}

@media (min-width: 38.88889rem) {

  .region > * {
    margin-bottom: 2rem;
  }
}

@media (min-width: 55.55556rem) {

  .region > * {
    margin-bottom: 3rem;
  }
}
