/**
 * @file
 * Social Bar Region
 .
 */

@media (min-width: 66.66667rem) {

.social-bar {
    flex-shrink: 0;
    width: 5rem;
    background-color: #f7f9fa
}
  }

[dir="ltr"] .social-bar__inner {
  padding-left: 1rem
}

[dir="rtl"] .social-bar__inner {
  padding-right: 1rem
}

[dir="ltr"] .social-bar__inner {
  padding-right: 1rem
}

[dir="rtl"] .social-bar__inner {
  padding-left: 1rem
}

.social-bar__inner {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

@media (min-width: 66.66667rem) {

[dir="ltr"] .social-bar__inner {
    padding-left: 0
}

[dir="rtl"] .social-bar__inner {
    padding-right: 0
}

[dir="ltr"] .social-bar__inner {
    padding-right: 0
}

[dir="rtl"] .social-bar__inner {
    padding-left: 0
}

.social-bar__inner {
    position: relative;
    width: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem
}

    [dir="ltr"] .social-bar__inner.is-fixed {
      left: 0
}

    [dir="rtl"] .social-bar__inner.is-fixed {
      right: 0
}

    .social-bar__inner.is-fixed {
      position: fixed;
      top: 6rem;
      height: calc(100vh - 6rem);
    }
  }

.rotate > * {
    margin-bottom: 2rem
  }

@media (min-width: 66.66667rem) {

.rotate > * {
      display: flex;
      align-items: center;
      margin-bottom: 0
  }

      [dir="ltr"] .rotate > *:not(:first-child) {
        margin-right: 2rem
}

      [dir="rtl"] .rotate > *:not(:first-child) {
        margin-left: 2rem
}
    }

@media (min-width: 66.66667rem) {

[dir="ltr"] .rotate .contextual {
      left: 100%;
      right: auto
}

[dir="rtl"] .rotate .contextual {
      right: 100%;
      left: auto
}

.rotate .contextual {
      transform: rotate(90deg); /* LTR */
      transform-origin: top left /* LTR */
  }

      [dir="ltr"] .rotate .contextual .trigger {
        float: left
}

      [dir="rtl"] .rotate .contextual .trigger {
        float: right
}
    }

@media (min-width: 66.66667rem) {

[dir="ltr"] .rotate {
    left: 50%
}

[dir="rtl"] .rotate {
    right: 50%
}

.rotate {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    width: 100vh;
    transform: rotate(-90deg) translateX(-100%); /* LTR */
    transform-origin: left /* LTR */
}

    @supports (width: max-content) {

.rotate {
      width: max-content
}
    }
  }

@media (min-width: 66.66667rem) {
    [dir="rtl"] .rotate {
      transform: rotate(90deg) translateX(100%);
      transform-origin: right
    }

      [dir="rtl"] .rotate .contextual {
        transform: rotate(-90deg);
        transform-origin: top right;
      }
  }
