/**
 * @file
 * Styles for views.
 */

.view > * {
    margin-bottom: 2rem
  }

.view > *:last-child {
      margin-bottom: 0;
    }

@media (min-width: 38.88889rem) {

.view > * {
      margin-bottom: 3rem
  }
    }
