/**
 * @file
 * Generic base elements.
 */

 @import "media-queries.pcss.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-sans);
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: var(--line-height-base);
}

body {
  margin: 0;
  color: var(--color--black);
  overflow-x: hidden;
  background-position: top left; /* LTR */

  &.is-fixed {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }
}

[dir="rtl"] body {
  background-position: top right;
}
 
a {
  color: var(--color--main-1);  
  
  &:hover {
    color: var(--color--black);
  }

  &:focus {
    outline: solid 2px currentColor;
    outline-offset: 2px;
  }
}
 
button {
  font-family: inherit;
}
 
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

audio {
  display: block;
  max-width: 100%;
}
 
h1 {
  letter-spacing: -0.01em;   
  font-size: var(--font-size-xl);   
  line-height: var(--sp2);   
  
  @media (--md) {
    font-size: var(--font-size-xxxl);
    line-height: var(--sp4);
  }
}
 
h2 {
  letter-spacing: -0.01em;
  font-size: var(--font-size-m);   
  line-height: var(--sp2);   
  
  @media (--md) {
    font-size: var(--font-size-xl);
    line-height: var(--sp3);
  }
}

h3 {
  font-size: var(--font-size-s);    
  line-height: var(--sp1-5);   
  
  @media (--md) {
    font-size: var(--font-size-l);
    line-height: var(--sp2);
  }
}
 
h4 {
  font-size: var(--font-size-xxs);    
  line-height: var(--sp1-5);   
  
  @media (--md) {
    font-size: var(--font-size-m);
    line-height: var(--sp-5);
  }
}
 
h5 {
  font-size: var(--font-size-xxxs);    
  line-height: var(--sp1-5);   
  
  @media (--md) {
    font-size: var(--font-size-s);
    line-height: var(--sp-5);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: var(--sp);   color: var(--color--black);   font-family: var(--font-sans);   font-weight: bold;   @media (--md) {
    margin-block: var(--sp2);
  }
}
 
ul {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  margin-inline-start: 1.5em;
  margin-inline-end: 0;
  padding-inline-start: 0;
  list-style-type: disc;
  list-style-image: none;
}

.font-size-base{
  font-size: var(--font-size-base);
  font-family: var(--font-sans);
}

.font-size-xxxl{
  font-size: var(--font-size-xxxl);
  font-family: var(--font-sans);
}

.font-size-xxl{
  font-size: var(--font-size-xxl);
  font-family: var(--font-sans);
}

.font-size-xl{
  font-size: var(--font-size-xl);
  font-family: var(--font-sans);
}

.font-size-l{
  font-size: var(--font-size-l);
  font-family: var(--font-sans);
}

.font-size-m{
  font-size: var(--font-size-m);
  font-family: var(--font-sans);
}

.font-size-s{
  font-size: var(--font-size-s);
  font-family: var(--font-sans);
}

.font-size-xs{
  font-size: var(--font-size-xs);
  font-family: var(--font-sans);
}

.font-size-xxs{
  font-size: var(--font-size-xxs);
  font-family: var(--font-sans);
}

.font-size-xxxs{
  font-size: var(--font-size-xxxs);
  font-family: var(--font-sans);
}