/**
 * @file
 * Buttons.
 */

 /*
 * Media query breakpoints.
 * Processed by postcss/postcss-custom-media.
 */

 /* Navigation related breakpoints */

 /* Grid related breakpoints */

 /* Grid shifts from 6 to 14 columns. */

 /* Width of the entire grid maxes out. */

 .button {
   display: inline-block;   
   height: var(--sp3);   
   margin-block: var(--sp1);   
   margin-inline-start: 0;   
   margin-inline-end: var(--sp1);   
   padding-block: calc(var(--sp3)/2 - var(--line-height-s)/2);
   padding-inline: var(--sp1-5);   cursor: pointer;
   text-align: center;   text-decoration: none;
   border: solid 2px var(--color--main-1); 
   font-family: var(--font-sans);   
   font-size: var(--font-size-s);   
   font-weight: bold;   
   -webkit-appearance: none;   
   appearance: none;   
   color: var(--color--white);
   background-color: var(--color--blue-30); 
   border-radius: var(--border-radius3); 
   -webkit-font-smoothing: antialiased
 }

 @media (min-width: 55.55556rem) {

 .button {
    font-size: var(--font-size-l)
 }  
   }

 .button:active{
    background-color: var(--color--blue-20); 
   }

 .button:hover{
    color: var(--color--white); 
   }

 .button {
 
   /*
     IE11 doesn't work properly on button elements so we only do
     inline-flex on modern browsers.
   */
 }

 @supports (display: inline-flex) {

 .button {
     display: inline-flex;
     align-items: center;
 
     /* Top padding accounts for font not being vertically centered within line-height. */
     padding-block: 1px 0;
     padding-inline: var(--sp1-5);
     line-height: var(--line-height-s)
 }
   }

 /* No margin if is part of a menu. */

 .menu .button {
   margin-block: 0;
   margin-inline-start: 0;
   margin-inline-end: 0;
 }

 .button--small {
   height: var(--sp2-5);
   padding-block: calc(var(--sp2-5)/2 - var(--line-height-s)/2);
   padding-inline: var(--sp);
   font-size: var(--font-size-base);
   line-height: normal;
   height: var(--button--hight-2);
   width: var(--button--width-3);
 }

 .button--primary {
   height: var(--button--hight-1);
   width: var(--button--width-1);
   text-align: center;
   display: block;
   
 }

 .button--icon-back {
   display: inline-flex;   align-items: center
 }

 .button--icon-back:before {
     display: block;
     width: 0.5em;
     height: 0.5em;
     margin-inline-end: 0.5em;
     content: "";
     transform: rotate(45deg); /* LTR */
     border-block-end: solid 2px currentColor;
     border-inline-start: solid 2px currentColor;
     height: var(--button--hight-1);
     width: var(--button--width-4);
   }

 [dir="rtl"] .button--icon-back:before {
   transform: rotate(-45deg);
 }

 .button--button--primary2{
   color: var(--color--white);
   background-color: var(--color--blue-30); 
   border-radius: var(--border-radius3); 
   height: var(--button--hight-1);
   width: var(--button--width-2);
   text-align: center;
   display: block;
   
 }

 .shepherd-cancel-icon {
   font-size: 1.5em;
 }
 