/**
 * @file
 * Embedded Media.
 */

/*
 * Media query breakpoints.
 * Processed by postcss/postcss-custom-media.
 */

/* Navigation related breakpoints */

/* Grid related breakpoints */

/* Grid shifts from 6 to 14 columns. */

/* Width of the entire grid maxes out. */

figure {
  background: var(--color--gray-95);
}

figcaption {
  padding-block: var(--sp0-5);   padding-inline-start: var(--sp0-5);   padding-inline-end: var(--sp0-5);   color: var(--color--gray-10);   background: var(--color--gray-95);   font-family: var(--font-serif);   font-size: 0.77778rem;   font-style: italic;   line-height: var(--sp)
}

@media (min-width: 27.77778rem) {

figcaption {
    padding-block: var(--sp);
    padding-inline-start: var(--sp);
    padding-inline-end: var(--sp)
}
  }

.align-right {
  float: none; /* Override core's align.module.css. */
  max-width: 100%;   margin-block: var(--sp3);   margin-inline-start: 0;   margin-inline-end: 0
}

@media (min-width: 38.88889rem) {

.align-right {
    float: inline-end;
    max-width: 50%;
    margin-block-start: var(--sp);
    margin-block-end: var(--sp);
    margin-inline-start: var(--sp);
    margin-inline-end: 0
}
  }

/* Pull out of grid if nested in content narrow layout. */

@media (min-width: 38.88889rem) {

.layout--content-narrow .align-right,
.layout--pass--content-narrow > * .align-right {
    margin-inline-end: calc(var(--grid-col-width--md)*-1 + var(--grid-gap--md)*-1)
}
  }

@media (min-width: 55.55556rem) {

.layout--content-narrow .align-right,
.layout--pass--content-narrow > * .align-right {
    margin-inline-end: calc(var(--grid-col-width--lg)*-2 + var(--grid-gap--lg)*-2)
}
  }

@media (min-width: 66.66667rem) {

.layout--content-narrow .align-right,
.layout--pass--content-narrow > * .align-right {
    margin-inline-end: calc(var(--grid-col-width--nav)*-3 + var(--grid-gap--nav)*-3)
}
  }

@media (min-width: 80rem) {

.layout--content-narrow .align-right,
.layout--pass--content-narrow > * .align-right {
    margin-inline-end: calc(var(--grid-col-width--max)*-3 + var(--grid-gap--max)*-3)
}
  }

.align-left {
  float: none; /* Override core's align.module.css. */
  max-width: 100%;   margin-block-start: var(--sp3);   margin-block-end: var(--sp3);   margin-inline-start: 0;   margin-inline-end: 0
}

@media (min-width: 38.88889rem) {

.align-left {
    float: inline-start;
    max-width: 50%;
    margin-block-start: var(--sp);
    margin-block-end: var(--sp);
    margin-inline-start: 0;
    margin-inline-end: var(--sp2) /* Extra right margins in case of aligning next to lists. */
}
  }

/* Pull out of grid if nested in content narrow layout. */

@media (min-width: 38.88889rem) {

.layout--content-narrow .align-left,
.layout--pass--content-narrow > * .align-left {
    margin-inline-start: calc(var(--grid-col-width--md)*-1 + var(--grid-gap--md)*-1)
}
  }

@media (min-width: 55.55556rem) {

.layout--content-narrow .align-left,
.layout--pass--content-narrow > * .align-left {
    margin-inline-start: calc(var(--grid-col-width--lg)*-1 + var(--grid-gap--lg)*-1)
}
  }

@media (min-width: 66.66667rem) {

.layout--content-narrow .align-left,
.layout--pass--content-narrow > * .align-left {
    margin-inline-start: calc(var(--grid-col-width--nav)*-1 + var(--grid-gap--nav)*-1)
}
  }

@media (min-width: 80rem) {

.layout--content-narrow .align-left,
.layout--pass--content-narrow > * .align-left {
    margin-inline-start: calc(var(--grid-col-width--max)*-1 + var(--grid-gap--max)*-1)
}
  }

.align-center img,
.align-center video,
.align-center audio {
  margin-inline: auto;
}

.media-oembed-content {
  display: block;
  max-width: 100%;
}
