/**
 * @file
 * RSS feed.
 */

.feed-icon {
  display: flex;   align-items: center;   text-decoration: none;   color: #5d7585
}

.feed-icon:hover {
    color: #5c9ec8;
  }

.feed-icon__label {
  flex-shrink: 0;
  letter-spacing: 0.08em;
  font-size: 1.285rem;
  font-weight: 600;
}

[dir="ltr"] .feed-icon__icon {   margin-left: 0.5rem
}

[dir="rtl"] .feed-icon__icon {   margin-right: 0.5rem
}

.feed-icon__icon {
  display: flex;   flex-shrink: 0;   align-items: center;   justify-content: center;   width: 1.5rem;   height: 1.5rem;   color: #fff;   background-color: #5c9ec8
}

.feed-icon__icon svg {
    vertical-align: top;
    fill: currentColor;
  }
