/**
 * @file
 * Footer regions.
 */

 /*
 * Media query breakpoints.
 * Processed by postcss/postcss-custom-media.
 */

 /* Navigation related breakpoints */

 /* Grid related breakpoints */

 /* Grid shifts from 6 to 14 columns. */

 /* Width of the entire grid maxes out. */

 .site-footer {
   position: relative; /* stack above left social bar */
   color: var(--color--white);
   background: var(--color--main-1)
 }

 .site-footer .menu {
     display: flex;
     justify-content: flex-end;     
     margin-inline-start: 0;     
     list-style: none;     
     font-weight: bold;
     flex-flow: wrap
   }

 @media (min-width: 55.55556rem) {

 .site-footer .menu {
       flex-flow: row
   }
     }

 .site-footer .menu ul {
       margin-inline-start: var(--sp);
     }

 .site-footer .menu li {
       margin-block-end: var(--sp0-5);
       margin-inline-start: var(--sp2);
     }

 .site-footer a {
     text-decoration: none;     color: inherit
   }

 .site-footer a:hover {
       text-decoration: underline;
     }

 .menu--social-media-menu a {
     display: block;
     width: 2rem;
     height: 2rem;
     font-size: 0;
   }

 .menu--social-media-menu svg.ext {
     display:none;
   }

 .menu--social-media-menu .bitbucket {
   background-image: url("data:image/svg+xml,%3csvg width='40px' height='40px' viewBox='0 -1.5 27 27' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23ffffff' d='m.865 0c-.003 0-.007 0-.011 0-.468 0-.848.376-.854.843v.001.01c0 .048.004.095.012.141l-.001-.005 3.63 22.041c.096.55.567.964 1.136.97h17.415.009c.425 0 .778-.308.847-.714l.001-.005 3.638-22.281c.007-.041.011-.088.011-.137 0-.423-.308-.775-.712-.843l-.005-.001c-.039-.007-.084-.011-.129-.011-.007 0-.013 0-.02 0h.001zm15.287 15.926h-5.562l-1.502-7.858h8.411z'/%3e%3c/svg%3e");
 }

 .menu--social-media-menu .github {
   background-image: url("data:image/svg+xml,%3csvg width='40px' height='40px' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3e  %3cpath fill='%23ffffff' d='M16 0.396c-8.839 0-16 7.167-16 16 0 7.073 4.584 13.068 10.937 15.183 0.803 0.151 1.093-0.344 1.093-0.772 0-0.38-0.009-1.385-0.015-2.719-4.453 0.964-5.391-2.151-5.391-2.151-0.729-1.844-1.781-2.339-1.781-2.339-1.448-0.989 0.115-0.968 0.115-0.968 1.604 0.109 2.448 1.645 2.448 1.645 1.427 2.448 3.744 1.74 4.661 1.328 0.14-1.031 0.557-1.74 1.011-2.135-3.552-0.401-7.287-1.776-7.287-7.907 0-1.751 0.62-3.177 1.645-4.297-0.177-0.401-0.719-2.031 0.141-4.235 0 0 1.339-0.427 4.4 1.641 1.281-0.355 2.641-0.532 4-0.541 1.36 0.009 2.719 0.187 4 0.541 3.043-2.068 4.381-1.641 4.381-1.641 0.859 2.204 0.317 3.833 0.161 4.235 1.015 1.12 1.635 2.547 1.635 4.297 0 6.145-3.74 7.5-7.296 7.891 0.556 0.479 1.077 1.464 1.077 2.959 0 2.14-0.020 3.864-0.020 4.385 0 0.416 0.28 0.916 1.104 0.755 6.4-2.093 10.979-8.093 10.979-15.156 0-8.833-7.161-16-16-16z'/%3e%3c/svg%3e");
 }

 .menu--social-media-menu .gitlab {
   background-image: url("data:image/svg+xml,%3csvg width='40px' height='40px' viewBox='0 -1 26 26' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23ffffff' d='m12.906 24-12.503-9.277c-.162-.128-.284-.3-.351-.497l-.002-.008c-.032-.09-.05-.193-.05-.301s.018-.211.052-.308l-.002.007 1.463-4.437zm-7.613-23.646 2.874 8.823h-6.655l2.823-8.823c.07-.207.263-.353.49-.353h.015-.001c.008 0 .017-.001.026-.001.212 0 .388.151.427.351v.003zm2.874 8.823h9.479l-4.739 14.823zm17.595 4.436c.032.09.05.193.05.301s-.018.211-.052.308l.002-.007c-.069.205-.191.376-.351.503l-.002.002-12.503 9.28 11.394-14.823zm-4.285-13.259 2.823 8.823h-6.655l2.874-8.823c.04-.203.216-.354.428-.354.009 0 .018 0 .027.001h-.001.014c.227 0 .419.146.489.349l.001.004z'/%3e%3c/svg%3e");
 }

 .menu--social-media-menu .linkedin {
   background-image: url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='iso-8859-1'%3f%3e%0d%3c!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --%3e%0d%3csvg width='40px' height='40px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'%0d%09 viewBox='0 0 455 455' style='enable-background:new 0 0 455 455;' xml:space='preserve'%3e%0d%3cg%3e%0d%09%3cpath fill='%23ffffff' style='fill-rule:evenodd;clip-rule:evenodd;' d='M246.4,204.35v-0.665c-0.136,0.223-0.324,0.446-0.442,0.665H246.4z'/%3e%0d%09%3cpath fill='%23ffffff' style='fill-rule:evenodd;clip-rule:evenodd;' d='M0,0v455h455V0H0z M141.522,378.002H74.016V174.906h67.506V378.002z%0d%09%09 M107.769,147.186h-0.446C84.678,147.186,70,131.585,70,112.085c0-19.928,15.107-35.087,38.211-35.087%0d%09%09c23.109,0,37.31,15.159,37.752,35.087C145.963,131.585,131.32,147.186,107.769,147.186z M385,378.002h-67.524V269.345%0d%09%09c0-27.291-9.756-45.92-34.195-45.92c-18.664,0-29.755,12.543-34.641,24.693c-1.776,4.34-2.24,10.373-2.24,16.459v113.426h-67.537%0d%09%09c0,0,0.905-184.043,0-203.096H246.4v28.779c8.973-13.807,24.986-33.547,60.856-33.547c44.437,0,77.744,29.02,77.744,91.398V378.002%0d%09%09z'/%3e%0d%3c/g%3e%0d%0d%3c/svg%3e%0d");
 }

 .menu--social-media-menu .twitter {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0,0,256,256' width='40px' height='40px'%3e%3cg transform='translate(-16.64,-16.64) scale(1.13,1.13)'%3e%3cg fill='%23ffffff' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3e%3cg transform='scale(5.12,5.12)'%3e%3cpath d='M11,4c-3.866,0 -7,3.134 -7,7v28c0,3.866 3.134,7 7,7h28c3.866,0 7,-3.134 7,-7v-28c0,-3.866 -3.134,-7 -7,-7zM13.08594,13h7.9375l5.63672,8.00977l6.83984,-8.00977h2.5l-8.21094,9.61328l10.125,14.38672h-7.93555l-6.54102,-9.29297l-7.9375,9.29297h-2.5l9.30859,-10.89648zM16.91406,15l14.10742,20h3.06445l-14.10742,-20z'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
 }

 .menu--social-media-menu .youtube {
   background-image: url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='iso-8859-1'%3f%3e%0d%3c!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --%3e%0d%3csvg width='40px' height='40px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'%0d%09 viewBox='0 0 310 310' style='enable-background:new 0 0 310 310;' xml:space='preserve'%3e%0d%3cg id='XMLID_822_'%3e%0d%09%3cpath fill='%23ffffff' id='XMLID_823_' d='M297.917,64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359,0-61.369,5.776-72.517,19.938%0d%09%09C0,79.663,0,100.008,0,128.166v53.669c0,54.551,12.896,82.248,83.386,82.248h143.226c34.216,0,53.176-4.788,65.442-16.527%0d%09%09C304.633,235.518,310,215.863,310,181.835v-53.669C310,98.471,309.159,78.006,297.917,64.645z M199.021,162.41l-65.038,33.991%0d%09%09c-1.454,0.76-3.044,1.137-4.632,1.137c-1.798,0-3.592-0.484-5.181-1.446c-2.992-1.813-4.819-5.056-4.819-8.554v-67.764%0d%09%09c0-3.492,1.822-6.732,4.808-8.546c2.987-1.814,6.702-1.938,9.801-0.328l65.038,33.772c3.309,1.718,5.387,5.134,5.392,8.861%0d%09%09C204.394,157.263,202.325,160.684,199.021,162.41z'/%3e%0d%3c/g%3e%0d%0d%3c/svg%3e%0d");
 }

 .region--footer-bottom {
   display: block
 }

 @media (min-width: 55.55556rem) {

 .region--footer-bottom {
       display: flex
 }
       }
 