/**
 * @file
 * Textarea.
 */

 /*
 * Media query breakpoints.
 * Processed by postcss/postcss-custom-media.
 */

 /* Navigation related breakpoints */

 /* Grid related breakpoints */

 /* Grid shifts from 6 to 14 columns. */

 /* Width of the entire grid maxes out. */

 textarea {
  display: block;
  width: 100%;
  min-height: var(--sp10);
  padding: var(--sp);
}
