/**
 * @file
 * Header Search Wide Block.
 */

/* Override contextual links so we can position against .site-header. */

.block-search-wide.contextual-region {
  position: static;
}

[dir="ltr"] .block-search-wide__wrapper {
  left: 0;
}

[dir="rtl"] .block-search-wide__wrapper {
  right: 0;
}

[dir="ltr"] .block-search-wide__wrapper {
  margin-left: 0;
}

[dir="rtl"] .block-search-wide__wrapper {
  margin-right: 0;
}

[dir="ltr"] .block-search-wide__wrapper {
  margin-right: 0;
}

[dir="rtl"] .block-search-wide__wrapper {
  margin-left: 0;
}

[dir="ltr"] .block-search-wide__wrapper {
  padding-left: 0;
}

[dir="rtl"] .block-search-wide__wrapper {
  padding-right: 0;
}

[dir="ltr"] .block-search-wide__wrapper {
  padding-right: 0;
}

[dir="rtl"] .block-search-wide__wrapper {
  padding-left: 0;
}

[dir="ltr"] .block-search-wide__wrapper {
  border-left: solid 90px #313637;
}

[dir="rtl"] .block-search-wide__wrapper {
  border-right: solid 90px #313637;
}

.block-search-wide__wrapper {
  position: absolute;
  z-index: 1; /* Ensure left border shows above social region in IE11. */
  top: 100%;
  display: none;
  visibility: hidden;
  overflow: hidden;
  width: 100vw;
  max-width: 87.22222rem;
  height: 8rem;
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.2s;
  background: #000
}

.block-search-wide__wrapper.is-active {
    visibility: visible;
    max-height: 8rem;
  }

.block-search-wide__wrapper form {
    display: flex;
    -ms-grid-column: 1;
    -ms-grid-column-span: 13;
    grid-column: 1 / 14;
  }

[dir="ltr"] .block-search-wide__wrapper input[type="search"] {
    padding-left: 12rem;
}

[dir="rtl"] .block-search-wide__wrapper input[type="search"] {
    padding-right: 12rem;
}

[dir="ltr"] .block-search-wide__wrapper input[type="search"] {
    padding-right: 0;
}

[dir="rtl"] .block-search-wide__wrapper input[type="search"] {
    padding-left: 0;
}

.block-search-wide__wrapper input[type="search"] {
    width: calc(100% + 2rem);
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    transition: background-size 0.4s;
    color: #fff;
    border: solid 1px transparent;
    box-shadow: none;
    font-family: "Zen Maru Gothic", "georgia", serif;
    font-size: 1.77778rem;
    -webkit-appearance: none
  }

.block-search-wide__wrapper input[type="search"]::-ms-clear {
      width: 2.22222rem;
      opacity: 0.5;
    }

.block-search-wide__wrapper input[type="search"]:focus {
      outline: solid 4px transparent;
      outline-offset: -4px

      /*
        We normally indicate focus by animating background-image width. This isn't
        available in IE11 when in Windows high contrast mode.
      */
    }

@media screen and (-ms-high-contrast: active) {

.block-search-wide__wrapper input[type="search"]:focus {
        border-bottom-width: 9px
    }
      }

.block-search-wide__wrapper .form-item-keys {
    flex-grow: 1;
    margin: 0;
  }

.block-search-wide__wrapper .form-actions {
    display: flex;
    margin: 0;
  }

[dir="ltr"] .block-search-wide__wrapper .search-form__submit {
    margin-left: 0;
}

[dir="rtl"] .block-search-wide__wrapper .search-form__submit {
    margin-right: 0;
}

[dir="ltr"] .block-search-wide__wrapper .search-form__submit {
    margin-right: 0;
}

[dir="rtl"] .block-search-wide__wrapper .search-form__submit {
    margin-left: 0;
}

[dir="ltr"] .block-search-wide__wrapper .search-form__submit {
    padding-left: 0;
}

[dir="rtl"] .block-search-wide__wrapper .search-form__submit {
    padding-right: 0;
}

[dir="ltr"] .block-search-wide__wrapper .search-form__submit {
    padding-right: 0;
}

[dir="rtl"] .block-search-wide__wrapper .search-form__submit {
    padding-left: 0;
}

.block-search-wide__wrapper .search-form__submit {
    position: relative;
    overflow: hidden;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    width: 5.55556rem;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
    border-color: transparent;
    background-color: transparent

    /*
      When in Windows high contrast mode, FF will will not output either background
      images or SVGs that are nested directly within a <button> element, so we add a <span>.
    */
  }

[dir="ltr"] .block-search-wide__wrapper .search-form__submit .icon--search {
      right: 0;
}

[dir="rtl"] .block-search-wide__wrapper .search-form__submit .icon--search {
      left: 0;
}

.block-search-wide__wrapper .search-form__submit .icon--search {
      position: absolute;
      top: 0;
      display: block;
      width: 1.33333rem; /* Width of the SVG background image. */
      height: 100%;
      pointer-events: none;
      background-image: url("../../images/search--white.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain
    }

[dir="ltr"] .block-search-wide__wrapper .search-form__submit .icon--search:after {
        left: 0;
}

[dir="rtl"] .block-search-wide__wrapper .search-form__submit .icon--search:after {
        right: 0;
}

.block-search-wide__wrapper .search-form__submit .icon--search:after {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0;
        content: "";
        transition: transform 0.2s;
        transform: scaleX(0);
        transform-origin: left;
        border-top: solid 9px #5C9EC8;
      }

.block-search-wide__wrapper .search-form__submit:focus {
      outline: solid 4px transparent;
      outline-offset: -4px;
      box-shadow: none
    }

.block-search-wide__wrapper .search-form__submit:focus span:after {
        transform: scaleX(1);
      }

@media screen and (-ms-high-contrast: active) {

.block-search-wide__wrapper .search-form__submit:focus {
        border-bottom-width: 9px
    }

        .block-search-wide__wrapper .search-form__submit:focus span:after {
          content: none;
        }
      }

@media screen and (-ms-high-contrast: active) {

.block-search-wide__wrapper .search-form__submit {
      /* IE11's high contrast show will not show the background image, so we show the text. */
  }
      .block-search-wide__wrapper .search-form__submit .visually-hidden {
        position: static;
        overflow: visible;
        clip: auto;
        width: auto;
        height: auto;
        text-align: center;
      }

.block-search-wide__wrapper .search-form__submit {

      /* Edge's high contrast does show the background image, so we hide it. */
  }
      .block-search-wide__wrapper .search-form__submit .icon--search {
        display: none;
      }
    }

[dir="ltr"] .block-search-wide__container {
  padding-right: 2rem;
}

[dir="rtl"] .block-search-wide__container {
  padding-left: 2rem;
}

.block-search-wide__container {
  max-width: 75rem;
}

.block-search-wide__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
  grid-template-columns: repeat(14, 1fr);
  grid-column-gap: 2rem;
}

/* Override specificity from container-inline.module.css */

.container-inline .block-search-wide__container {
    display: block;
  }

.container-inline .block-search-wide__grid {
    display: -ms-grid;
    display: grid;
  }

.block-search-wide__button {
  position: relative;
  display: none;
  width: 3rem;
  height: 6rem;
  cursor: pointer;
  color: #0d1214; /* Affects SVG search icon. */
  border: 0;
  background: transparent;
  -webkit-appearance: none
}

.block-search-wide__button:focus {
    position: relative;
    outline: 0
  }

.block-search-wide__button:focus:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      height: 3rem;
      content: "";
      transform: translate(-50%, -50%);
      border: solid 2px #5C9EC8;
      border-radius: 0.22222rem;
    }

.block-search-wide__button[aria-expanded="true"] {
    background: #000
  }

.block-search-wide__button[aria-expanded="true"]:focus:after {
      border-color: #fff;
    }

.block-search-wide__button[aria-expanded="true"] .block-search-wide__button-close:before,
      .block-search-wide__button[aria-expanded="true"] .block-search-wide__button-close:after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1.5rem;
        height: 0;
        content: "";
        border-top: solid 2px #fff;
      }

.block-search-wide__button[aria-expanded="true"] .block-search-wide__button-close:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

.block-search-wide__button[aria-expanded="true"] .block-search-wide__button-close:after {
        transform: translate(-50%, -50%) rotate(45deg);
      }

.block-search-wide__button[aria-expanded="true"] svg {
      display: none;
    }

[dir="ltr"] .block-search-wide__button svg {
    margin-left: auto;
}

[dir="rtl"] .block-search-wide__button svg {
    margin-right: auto;
}

[dir="ltr"] .block-search-wide__button svg {
    margin-right: auto;
}

[dir="rtl"] .block-search-wide__button svg {
    margin-left: auto;
}

@media (forced-colors: active) {

.block-search-wide__button {
    background: ButtonFace
}

    .block-search-wide__button path {
      fill: ButtonText;
    }
  }

/* Provide rudimentary access to site search if JS is disabled. */

html:not(.js) .search-block-form:focus-within .block-search-wide__wrapper {
  visibility: visible;
  max-height: 144px;
}

/* Necessary to override specificity of transpiled PostCSS properties from default input focus styling. */

[dir] .block-search-wide__wrapper input[type="search"] {
  background-color: transparent;
  background-image: linear-gradient(#5C9EC8, #5C9EC8); /* Two values are needed for IE11 support. */
  background-repeat: no-repeat;
  background-position: bottom left; /* LTR */
  background-size: 0% 0.55556rem
}

[dir] .block-search-wide__wrapper input[type="search"]:focus {
    background-size: 100% 0.5rem;
  }

[dir="rtl"] .block-search-wide__wrapper input[type="search"] {
    background-position: bottom right;
  }

[dir="rtl"] .block-search-wide__wrapper .search-form__submit .icon--search:after {
    transform-origin: right;
  }

@media (min-width: 66.66667rem) {

body:not(.is-always-mobile-nav) .block-search-wide__wrapper,
  body:not(.is-always-mobile-nav) .block-search-wide__button {
      display: block
  }
    }
