/**
 * @file
 * Header Mobile Buttons.
 */

[dir="ltr"] .mobile-buttons {   margin-left: auto
}

[dir="rtl"] .mobile-buttons {   margin-right: auto
}

.mobile-buttons {
  margin-top: 0.5rem
}

@media (min-width: 27.77778rem) {

.mobile-buttons {
    margin-top: 2rem
}
  }

@media (min-width: 38.88889rem) {

.mobile-buttons {
    margin-top: 4rem
}
  }

@media (min-width: 77.77778rem) {

.mobile-buttons {
    margin-top: 6rem
}
  }

@media (min-width: 77.77778rem) {
  body:not(.is-always-mobile-nav) .mobile-buttons {
    display: none;
  }
}
