/**
 * @file
 * Header Mobile Buttons.
 */

/*
 * Media query breakpoints.
 * Processed by postcss/postcss-custom-media.
 */

/* Navigation related breakpoints */

/* Grid related breakpoints */

/* Grid shifts from 6 to 14 columns. */

/* Width of the entire grid maxes out. */

.mobile-buttons {
  margin-block-start: var(--sp0-5);   margin-inline-start: auto
}

@media (min-width: 27.77778rem) {

.mobile-buttons {
    margin-block-start: var(--sp2)
}
  }

@media (min-width: 38.88889rem) {

.mobile-buttons {
    margin-block-start: var(--sp4)
}
  }

@media (min-width: 66.66667rem) {

.mobile-buttons {
    margin-block-start: var(--sp6)
}
  }

@media (min-width: 66.66667rem) {
  body:not(.is-always-mobile-nav) .mobile-buttons {
    display: none;
  }
}
