/**
 * @file
 * Node Teaser specific styles.
 */

.node--view-mode-teaser {
  position: relative; /* Anchor after pseudo-element. */
  margin-bottom: 1.5rem;
}

.node--view-mode-teaser:after {
  position: absolute;
  bottom: 0;
  width: 3rem;
  height: 0;
  content: "";
  /* Intentionally not using CSS logical properties. */
  border-top: solid 2px #e7edf1;
}

.node--view-mode-teaser .node__meta {
  margin-bottom: 1rem;
}

.node--view-mode-teaser .node__meta a {
  color: #0c7fc8;
  font-weight: bold;
}

.node--view-mode-teaser .node__top-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

@media (min-width: 55.55556rem) {

  .node--view-mode-teaser .node__top-wrapper {
    position: relative /* Anchor the image */
  }
}

[dir="ltr"] .node--view-mode-teaser .primary-image {
  margin-right: 1rem;
}

[dir="rtl"] .node--view-mode-teaser .primary-image {
  margin-left: 1rem;
}

.node--view-mode-teaser .primary-image {
  flex-shrink: 0;
  margin: 0;
  margin-bottom: 1rem

  /* Ensure title does not wrap under image until necessary. */
}

.node--view-mode-teaser .primary-image + .node__title {
  flex-basis: calc(100% - 4.5rem);
}

@media (min-width: 55.55556rem) {

  .node--view-mode-teaser .primary-image + .node__title {
    flex-basis: auto;
  }
}

.node--view-mode-teaser .primary-image a {
  display: block;
}

.node--view-mode-teaser .primary-image img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}

@media (min-width: 55.55556rem) {

  .node--view-mode-teaser .primary-image img {
    width: calc(7.14286vw - 2.05952rem);
    height: calc(7.14286vw - 2.05952rem);
  }
}

@media (min-width: 66.66667rem) {

  .node--view-mode-teaser .primary-image img {
    width: calc(7.14286vw - 2.55952rem);
    height: calc(7.14286vw - 2.55952rem);
  }
}

@media (min-width: 80rem) {

  .node--view-mode-teaser .primary-image img {
    width: 3.21429rem;
    height: 3.21429rem;
  }
}

@media (min-width: 55.55556rem) {

  [dir="ltr"] .node--view-mode-teaser .primary-image {
    left: calc(-7.14286vw - -1.07143px);
  }

  [dir="rtl"] .node--view-mode-teaser .primary-image {
    right: calc(-7.14286vw - -1.07143px);
  }

  .node--view-mode-teaser .primary-image {
    position: absolute;
    top: 0;
    margin: 0;
  }
}

@media (min-width: 66.66667rem) {

  [dir="ltr"] .node--view-mode-teaser .primary-image {
    left: calc(-7.14286vw - -0.55952rem);
  }

  [dir="rtl"] .node--view-mode-teaser .primary-image {
    right: calc(-7.14286vw - -0.55952rem);
  }
}

@media (min-width: 80rem) {

  [dir="ltr"] .node--view-mode-teaser .primary-image {
    left: -5.21429rem;
  }

  [dir="rtl"] .node--view-mode-teaser .primary-image {
    right: -5.21429rem;
  }
}

.node--view-mode-teaser .node__title {
  margin: 0;
  margin-bottom: 1rem;
  color: #0d1214;
  font-size: 1.33333rem;
  line-height: 0.666rem;
}

@media (min-width: 55.55556rem) {

  .node--view-mode-teaser .node__title {
    font-size: 2rem;
    line-height: 3rem;
  }
}

[dir="ltr"] .node--view-mode-teaser .field--tag-ref {
  margin-left: 0;
}

[dir="rtl"] .node--view-mode-teaser .field--tag-ref {
  margin-right: 0;
}

[dir="ltr"] .node--view-mode-teaser .field--tag-ref {
  margin-right: 0;
}

[dir="rtl"] .node--view-mode-teaser .field--tag-ref {
  margin-left: 0;
}

[dir="ltr"] .node--view-mode-teaser .field--tag-ref {
  padding-left: 0;
}

[dir="rtl"] .node--view-mode-teaser .field--tag-ref {
  padding-right: 0;
}

[dir="ltr"] .node--view-mode-teaser .field--tag-ref {
  padding-right: 0;
}

[dir="rtl"] .node--view-mode-teaser .field--tag-ref {
  padding-left: 0;
}

.node--view-mode-teaser .field--tag-ref {
  margin-top: 1rem;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

@media (min-width: 55.55556rem) {

  .node--view-mode-teaser .field--tag-ref {
    margin-top: 2rem;
  }
}

@media (min-width: 55.55556rem) {

  .node--view-mode-teaser {
    margin-bottom: 3rem;
  }
}

.views-row:last-child .node--view-mode-teaser {
  margin-bottom: 0;
}
