/**
 * @file
 * Node Teaser specific styles.
 */

 /*
 * Media query breakpoints.
 * Processed by postcss/postcss-custom-media.
 */

 /* Navigation related breakpoints */

 /* Grid related breakpoints */

 /* Grid shifts from 6 to 14 columns. */

 /* Width of the entire grid maxes out. */

 .node--view-mode-teaser {
   position: relative; /* Anchor after pseudo-element. */
   margin-block-end: var(--sp1-5)
 }

 .node--view-mode-teaser .node__meta {
     margin-block-end: var(--sp)
   }

 .node--view-mode-teaser .node__meta a {
       color: var(--color--blue-20);
       font-weight: bold;
     }

 .node--view-mode-teaser .node__top-wrapper {
     display: flex;     flex-wrap: wrap;     align-items: center;     margin: 0
   }

 @media (min-width: 55.55556rem) {

 .node--view-mode-teaser .node__top-wrapper {
       position: relative /* Anchor the image */
   }
     }

 .node--view-mode-teaser .primary-image {
     flex-shrink: 0;
     margin: 0;
     margin-block-end: var(--sp1);
     margin-inline-end: var(--sp1)
 
     /* Ensure title does not wrap under image until necessary. */
   }

 .node--view-mode-teaser .primary-image + .node__title {
       flex-basis: calc(100% - var(--sp)*4.5)
     }

 @media (min-width: 55.55556rem) {

 .node--view-mode-teaser .primary-image + .node__title {
         flex-basis: auto
     }
       }

 .node--view-mode-teaser .primary-image a {
       display: block;
     }

 .node--view-mode-teaser .primary-image img {
       width: calc(var(--sp)*3.5);       height: calc(var(--sp)*3.5);       object-fit: cover;       border-radius: 50%
     }

 @media (min-width: 55.55556rem) {

 .node--view-mode-teaser .primary-image img {
         width: var(--grid-col-width--lg);
         height: var(--grid-col-width--lg)
     }
       }

 @media (min-width: 55.55556rem) {

 .node--view-mode-teaser .primary-image img {
         width: var(--grid-col-width--nav);
         height: var(--grid-col-width--nav)
     }
       }

 @media (min-width: 80rem) {

 .node--view-mode-teaser .primary-image img {
         width: var(--grid-col-width--max);
         height: var(--grid-col-width--max)
     }
       }

 @media (min-width: 55.55556rem) {

 .node--view-mode-teaser .primary-image {
       position: absolute;
       inset-block-start: 0;
       inset-inline-start: calc(var(--grid-col-width--lg)*-1 + var(--grid-gap--lg)*-1);
       margin: 0
   }
     }

 @media (min-width: 55.55556rem) {

 .node--view-mode-teaser .primary-image {
       inset-inline-start: calc(var(--grid-col-width--nav)*-1 + var(--grid-gap--nav)*-1)
   }
     }

 @media (min-width: 80rem) {

 .node--view-mode-teaser .primary-image {
       inset-inline-start: calc(var(--grid-col-width--max)*-1 + var(--grid-gap--max)*-1)
   }
     }

 .node--view-mode-teaser .node__title {
     margin: 0;     margin-block-end: var(--sp1);     color: var(--color--gray-0);     font-size: 1.33333rem;     line-height: var(--line-height-base)
   }

 @media (min-width: 55.55556rem) {

 .node--view-mode-teaser .node__title {
       font-size: var(--sp2);
       line-height: var(--sp3)
   }
     }

 .node--view-mode-teaser .field--tag-ref {
     margin-block-start: var(--sp1);     margin-block-end: 0;     margin-inline-start: 0;     margin-inline-end: 0;     padding-block: 0;     padding-inline-start: 0;     padding-inline-end: 0;     background-color: transparent
   }

 @media (min-width: 55.55556rem) {

 .node--view-mode-teaser .field--tag-ref {
       margin-block-start: var(--sp2)
   }
     }

 @media (min-width: 55.55556rem) {

 .node--view-mode-teaser {
     margin-block-end: var(--sp1)
 }
   }

 .views-row:last-child .node--view-mode-teaser {
   margin-block-end: 0;
 }
 