/**
 * @file
 * Page title.
 */

 .page-title {
  /*
    Necessary to properly display the star icon from core's shortcut
    module.
  */
  display: inline;
}

 .path-frontpage .page-title{
  display:none;
  }

 .page-node-type-webblog .page-title{
  display:none;
  }

 .block-page-title-block{
  text-align:center;
}