/**
 * @file
 * Styles for pagination.
 */

/*
 * Media query breakpoints.
 * Processed by postcss/postcss-custom-media.
 */

/* Navigation related breakpoints */

/* Grid related breakpoints */

/* Grid shifts from 6 to 14 columns. */

/* Width of the entire grid maxes out. */

.pager__items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-block: 0;
  margin-inline-start: 0;
  padding-block: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  list-style: none;
  font-weight: bold;
}

.pager__item {
  display: flex;   align-items: center;   justify-content: center;   width: var(--sp2-5);   height: var(--sp2-5);   cursor: default;   color: var(--color--gray-20);   background-color: var(--color--white)
}

@media (min-width: 27.77778rem) {

.pager__item {
    width: var(--sp3);
    height: var(--sp3)
}
  }

[dir="rtl"] .pager__item--control {
  transform: scaleX(-1);
}

.pager__item--active {
  color: var(--color--white);
  background-color: var(--color--blue-20);
}

.pager__item--control path {
    /* IE11 Specific. */
  }

@media (-ms-high-contrast: active) {

.pager__item--control path {
      fill: currentColor
  }
    }

@media (forced-colors: active) {

.pager__item--control path {
      fill: linktext
  }
    }

.pager__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--color--gray-20);
}

.pager__link:hover {
  background-color: var(--color--gray-80);
}

.pager__link:focus {
  color: var(--color--blue-20);
  outline: solid 2px var(--color--blue-20);
}

.pager{

  text-align:center
}

.pager .pager__items {
      display: inline-flex;
  }

.pager .pager__item--active{
    width:2.77778rem;
    height:2.77778rem;
    background-color: var(--color--main-1);
  }

.pager .pager__link {

    width:1.66667rem;
    height:1.66667rem;
    display:black
  }

.pager .pager__link:hover{
      background:none;
    }

.pager .pager__item--next .pager__link{
      background-image: url("data:image/svg+xml,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'%09 width='100%25' viewBox='0 0 100 100' enable-background='new 0 0 100 100' xml:space='preserve'%3e%3cpath fill='%23358FC8' opacity='1.000000' stroke='none' %09d='M38.745918,89.753342 %09C37.199383,91.296303 35.883736,92.570480 34.612236,93.887283 %09C32.356155,96.223770 29.778885,95.852074 27.726217,94.038528 %09C25.520922,92.090141 26.349781,89.490303 28.024500,87.593391 %09C30.663063,84.604759 33.610378,81.888054 36.436756,79.066010 %09C45.620602,69.896255 54.808887,60.730946 64.442200,51.118137 %09C63.234978,49.849033 62.171154,48.682411 61.056580,47.566479 %09C50.470703,36.967705 39.819088,26.433344 29.351898,15.718760 %09C27.942514,14.276063 26.480368,11.801409 26.728765,10.042764 %09C27.287937,6.083874 31.620003,5.341111 34.956539,8.497630 %09C39.065582,12.384969 42.980270,16.477718 46.979813,20.480835 %09C55.332024,28.840513 63.689117,37.195316 72.035530,45.560772 %09C76.294914,49.829880 76.330025,52.145065 72.176132,56.306309 %09C61.123093,67.378891 50.057373,78.438805 38.745918,89.753342 z'/%3e%3c/svg%3e")
    }

.pager .pager__item--next .pager__link svg {
        display: none;
      }

.pager .pager__item--previous .pager__link{
      background-image: url("data:image/svg+xml,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'%09 width='100%25' viewBox='0 0 100 100' enable-background='new 0 0 100 100' xml:space='preserve'%3e%3cpath fill='%23358FC8' opacity='1.000000' stroke='none' %09d='M74.222565,7.779202 %09C75.763062,11.424272 74.766632,13.893450 72.181564,16.408581 %09C60.620953,27.656425 49.255211,39.104553 37.562195,50.735920 %09C38.908531,52.206184 39.953510,53.435490 41.089417,54.574081 %09C51.671543,65.181152 62.262901,75.779030 72.867386,86.363754 %09C75.270424,88.762306 76.832169,91.485344 74.014999,94.326355 %09C71.243706,97.121101 68.770073,95.285896 66.520027,93.028076 %09C54.064098,80.529091 41.577110,68.061043 29.093651,55.589523 %09C25.899166,52.398090 26.073263,49.365303 29.246006,46.212608 %09C41.408546,34.126953 53.588696,22.057219 65.592667,9.815236 %09C68.116608,7.241251 70.577522,6.235324 74.222565,7.779202 z'/%3e%3c/svg%3e")
    }

.pager .pager__item--previous .pager__link svg {
        display: none;
      }

.pager .pager__item--last .pager__link{
      background-image: url("data:image/svg+xml,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'%09 width='100%25' viewBox='0 0 100 100' enable-background='new 0 0 100 100' xml:space='preserve'%3e%3cpath fill='%23358FC8' opacity='1.000000' stroke='none' %09d='M35.750710,26.249292 %09C32.085030,22.583973 28.700350,19.136868 25.242630,15.764656 %09C22.986250,13.564075 21.120741,10.806482 23.578846,8.240236 %09C26.083826,5.625053 29.163385,6.591062 31.751429,9.200706 %09C43.714314,21.263439 55.751328,33.252678 67.767769,45.262260 %09C68.552246,46.046288 69.386772,46.780224 71.000328,48.286354 %09C71.000328,35.428349 70.975975,23.530195 71.012985,11.632232 %09C71.026718,7.218664 72.992775,5.498871 76.516953,7.137112 %09C77.707031,7.690325 78.888535,9.757136 78.895813,11.138417 %09C79.035355,37.621811 78.938507,64.106445 79.079086,90.589828 %09C79.095894,93.756790 77.656967,95.690262 75.102921,95.707703 %09C72.198334,95.727531 70.847633,93.646202 70.911995,90.297211 %09C71.138901,78.491295 71.000244,66.678360 71.000244,54.025074 %09C69.435699,55.363499 68.335579,56.186024 67.372826,57.146263 %09C55.461552,69.026451 43.622173,80.979675 31.604650,92.751122 %09C30.189632,94.137177 27.621000,95.560783 25.939327,95.221489 %09C21.646463,94.355324 21.221542,90.349800 24.872717,86.665855 %09C35.308037,76.136856 45.798782,65.662445 56.326656,55.226006 %09C57.609829,53.953979 59.252636,53.044743 61.176025,51.640926 %09C52.192310,42.669235 44.096508,34.584267 35.750710,26.249292 z'/%3e%3c/svg%3e")
    }

.pager .pager__item--last .pager__link svg {
        display: none;
      }

.pager .pager__item--first .pager__link{
      background-image: url("data:image/svg+xml,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'%09 width='100%25' viewBox='0 0 100 100' enable-background='new 0 0 100 100' xml:space='preserve'%3e%3cpath fill='%23358FC8' opacity='1.000000' stroke='none' %09d='M62.750832,85.249397 %09C52.298721,74.793846 42.096642,64.588364 30.998890,53.486916 %09C30.998890,66.736809 31.078234,78.801659 30.893997,90.862473 %09C30.872066,92.298088 29.730061,94.225060 28.519279,94.975029 %09C27.529982,95.587799 25.420025,95.179886 24.267357,94.473343 %09C23.448477,93.971390 23.054285,92.220291 23.051346,91.025284 %09C22.985785,64.376518 22.937817,37.727016 23.161625,11.079968 %09C23.174732,9.519146 25.373304,6.849640 26.790142,6.681747 %09C29.138731,6.403443 31.175276,7.687541 31.098886,11.193024 %09C30.837990,23.165539 30.998947,35.147247 30.998947,47.974106 %09C32.558506,46.640396 33.657188,45.819736 34.618092,44.860989 %09C46.408096,33.097408 58.228119,21.363037 69.913681,9.496353 %09C72.471626,6.898766 75.639702,5.509740 78.072128,7.982678 %09C80.506126,10.457211 79.040291,13.592661 76.446724,16.144464 %09C64.835098,27.569134 53.374878,39.147682 41.497776,51.033154 %09C49.364193,58.887798 56.992718,66.503098 64.619057,74.120583 %09C68.507729,78.004745 72.371429,81.914200 76.286705,85.771324 %09C78.711937,88.160530 81.152199,90.862381 78.241699,94.055008 %09C74.827232,97.800453 72.178558,94.689262 69.713684,92.213234 %09C67.480972,89.970436 65.238846,87.737022 62.750832,85.249397 z'/%3e%3c/svg%3e")
    }

.pager .pager__item--first .pager__link svg {
        display: none;
      }
