/**
 * @file
 * Page title.
 */

 /*
 * Media query breakpoints.
 * Processed by postcss/postcss-custom-media.
 */

 /* Navigation related breakpoints */

 /* Grid related breakpoints */

 /* Grid shifts from 6 to 14 columns. */

 /* Width of the entire grid maxes out. */

 .page-title {
  /*
    Necessary to properly display the star icon from core's shortcut
    module.
  */
  display: inline;
}

 .path-frontpage .page-title{
  display:none;
  }

 .path-frontpage .block-page-title-block {
    margin-block-end: 0px;
  }

 .path-frontpage .main-content__container {
    padding-block-start: 0px;
  }

 .page-node-type-webblog .page-title{
  display:none;
  }

 .block-page-title-block{
  text-align:center;
}