/**
 * @file
 * Progress bar specific styles.
 */

.progress__track {
  overflow: hidden;
  height: 1.125rem;
  border: 1px solid #0C7FC8;
  border-radius: 0.1875rem;
}

.progress__bar {
  height: 1.125rem;
  background-color: #0C7FC8;
}

[dir="ltr"] .progress__percentage {
  margin-left: 1rem;
}

[dir="rtl"] .progress__percentage {
  margin-right: 1rem;
}
