/**
 * @file
 * Text Content.
 */

 /*
 * Media query breakpoints.
 * Processed by postcss/postcss-custom-media.
 */

 /* Navigation related breakpoints */

 /* Grid related breakpoints */

 /* Grid shifts from 6 to 14 columns. */

 /* Width of the entire grid maxes out. */

 .text-content,
 .cke_editable {
   color: var(--color--gray-10);
   font-family: var(--font-sans);
   line-height: var(--sp1-5)
 
   /*
     @todo
 
     text-decoration-thickness is supported by FF & Safari
     text-underline-offset is supported by Safari
 
     text-decoration-color supported by Chrome, FF, & Safari
   */
 
   
 }

 .text-content a:not(.button), .cke_editable a:not(.button) {
     color: var(--color--blue-20);
     text-decoration-color: var(--color--blue-20);
     text-decoration-thickness: 2px;
     overflow-wrap: break-word
   }

 @supports (box-shadow: none) {

 .text-content a:not(.button), .cke_editable a:not(.button) {
       transition:         box-shadow 0.3s cubic-bezier(           0.55,
           0.085,
           0,
           0.99         );       text-decoration: none;       box-shadow: inset 0 -2px 0 0 var(--color--blue-50)
   }       .text-content a:not(.button):hover, .cke_editable a:not(.button):hover {
         text-decoration: underline;
         color: var(--color--black);
 
         /* @todo - #d9ecfa isn't currently a variable. */
         box-shadow: inset 0 -2em 0 0 #d9ecfa;
         text-decoration-color: #d9ecfa;
       }
     }

 .text-content p, .cke_editable p {
     margin-block-start: var(--sp);     margin-block-end: var(--sp)
   }

 .text-content p:first-child, .cke_editable p:first-child {
       margin-block-start: 0;
     }

 .text-content p:last-child, .cke_editable p:last-child {
       margin-block-end: 0;
     }

 @media (min-width: 55.55556rem) {

 .text-content p, .cke_editable p {
       font-size: var(--font-size-l);
       margin-block-start: var(--sp);
       margin-block-end: var(--sp);
       line-height: var(--sp2)
   }
     }

 .text-content code, .cke_editable code {
     background-color: var(--color--gray-95);
   }

 .text-content pre code, .cke_editable pre code {
     display: block;
     overflow: auto;
     padding-block: var(--sp);
     padding-inline-start: var(--sp);
     padding-inline-end: var(--sp);
     color: var(--color--gray-20);
   }

 .text-content blockquote, .cke_editable blockquote {
     position: relative;     margin-block: var(--sp2);     margin-inline-start: 0;     margin-inline-end: 0;     padding-inline-start: var(--sp2);     letter-spacing: -0.01em;     font-family: var(--font-serif);     font-size: 1.16667rem;     line-height: var(--sp2)
   }

 .text-content blockquote:before, .cke_editable blockquote:before {
       position: absolute;
       inset-block-start: 0;
       inset-inline-start: 0;
       content: "“";
       color: var(--color--blue-70);
       font-size: var(--font-size-xxxl);
     }

 .text-content blockquote:after, .cke_editable blockquote:after {
       position: absolute;
       inset-block-end: 0;
       inset-inline-start: 0;
       width: var(--sp0-5);
       height: calc(100% - 1.66667rem);
       margin-inline-start: 0.22222rem;
       content: "";
       background: var(--color--gray-95);
     }

 @media (min-width: 38.88889rem) {

 .text-content blockquote, .cke_editable blockquote {
       font-size: var(--font-size-xl);
       line-height: var(--sp3)
   }
     }

 @media (min-width: 55.55556rem) {

 .text-content blockquote, .cke_editable blockquote {
       font-size: var(--font-size-xxl);
       line-height: calc(var(--sp)*3.5)
   }
     }

 /**
  * Special colors for footer that has a dark background.
  */

 .site-footer .text-content {
   color: inherit;   font-weight: bold
 }

 .site-footer .text-content * {
     color: inherit;
   }

 .site-footer .text-content a {
     text-decoration: underline;     color: var(--color--white);     box-shadow: none
   }

 .site-footer .text-content a:hover {
       text-decoration: none;
       color: var(--color--white);
       box-shadow: none;
     }

 /**
  * Decrease font-size for blockquote placed in sidebar region.
  */

 .region--sidebar .text-content blockquote {
   font-size: var(--font-size-m)
 }

 @media (min-width: 55.55556rem) {

 .region--sidebar .text-content blockquote {
     font-size: var(--font-size-l);
     line-height: var(--sp3)
 }
   }
 