/**
 * @file
 * Web Blog teaser contant view mode
 *
 */

@import "../base/media-queries.pcss.css";

.node--type-webblog.node--view-mode-teaser {

 & h3 a {
    color: var(--color--black);  
    
    &:hover {
      color: var(--color--main-1);
    }
  
    &:focus {
      outline: solid 2px currentColor;
      outline-offset: 2px;
    }
  }

  & .field--name-created {
    color: var(--color--gray-20);
    font-size: var(--font-size-s);   
    line-height: var(--sp1);   
  }
}
