/**
 * @file
 * Web Doc full contant view mode
 *
 */

/*
 * Media query breakpoints.
 * Processed by postcss/postcss-custom-media.
 */

/* Navigation related breakpoints */

/* Grid related breakpoints */

/* Grid shifts from 6 to 14 columns. */

/* Width of the entire grid maxes out. */

.node--type-webdoc.node--view-mode-full .layout__region--first {

    background: var(--color--main-1);

    }

.node--type-webdoc.node--view-mode-full .book-navigation__menu {
    padding: var(--sp1)

    
  }

.node--type-webdoc.node--view-mode-full .book-navigation__menu .book-navigation__item {

      font-size: var(--font-size-m);
      line-height: var(--sp1)
    }

@media (min-width: 38.88889rem) {

.node--type-webdoc.node--view-mode-full .book-navigation__menu .book-navigation__item {
        font-size: var(--font-size-l);
        line-height: var(--sp2)
    }
      }

.node--type-webdoc.node--view-mode-full .book-navigation__menu a {
      color: var(--color--white);
      text-decoration: none
    }

.node--type-webdoc.node--view-mode-full .book-navigation__menu a:hover {
        text-decoration: underline;
      }