/**
 * @file
 * Wide image component.
 */

[dir="ltr"] .wide-image {
  margin-left: 0
}

[dir="rtl"] .wide-image {
  margin-right: 0
}

[dir="ltr"] .wide-image {
  margin-right: 0
}

[dir="rtl"] .wide-image {
  margin-left: 0
}

.wide-image {
  margin-top: 0.5rem;
  margin-bottom: 2rem
}

@media (min-width: 38.88889rem) {

[dir="ltr"] .wide-image {
    margin-left: -7.14286vw
  }

[dir="rtl"] .wide-image {
    margin-right: -7.14286vw
  }

.wide-image {
    width: calc(100vw - 2rem);
    margin-top: 2rem;
    margin-bottom: 4rem
}
  }

@media (min-width: 55.55556rem) {

[dir="ltr"] .wide-image {
    margin-left: calc(-7.14286vw - -1.07143px)
  }

[dir="rtl"] .wide-image {
    margin-right: calc(-7.14286vw - -1.07143px)
  }

.wide-image {
    width: calc(85.71429vw - 2.71429rem)
}
  }

@media (min-width: 66.66667rem) {

[dir="ltr"] .wide-image {
    margin-left: calc(-7.14286vw - -0.55952rem)
  }

[dir="rtl"] .wide-image {
    margin-right: calc(-7.14286vw - -0.55952rem)
  }

.wide-image {
    width: calc(85.71429vw - 8.71429rem)
}
  }

@media (min-width: 80rem) {

[dir="ltr"] .wide-image {
    margin-left: -5.21429rem
  }

[dir="rtl"] .wide-image {
    margin-right: -5.21429rem
  }

.wide-image {
    width: 60.57143rem
}
  }

/* Ensure that image doesn't overlap sidebar. */

@media (min-width: 55.55556rem) {

.sidebar-grid .wide-image {
    width: calc(64.28571vw - 2.53571rem)
}
  }

@media (min-width: 66.66667rem) {

.sidebar-grid .wide-image {
    width: calc(64.28571vw - 7.03571rem)
}
  }

@media (min-width: 72.22222rem) {

.sidebar-grid .wide-image {
    width: calc(71.42857vw - 7.59524rem)
}
  }

@media (min-width: 80rem) {

.sidebar-grid .wide-image {
    width: 50.14286rem
}
  }

/* Ensure that image doesn't overlap layout builder sections when editing layouts. */

[dir="ltr"] .layout-builder .wide-image {
  margin-left: 0
}

[dir="rtl"] .layout-builder .wide-image {
  margin-right: 0
}

[dir="ltr"] .layout-builder .wide-image {
  margin-right: 0
}

[dir="rtl"] .layout-builder .wide-image {
  margin-left: 0
}

.layout-builder .wide-image {
  max-width: 100%;
}
