/**
 * @file
 * Wide image component.
 */

/*
 * Media query breakpoints.
 * Processed by postcss/postcss-custom-media.
 */

/* Navigation related breakpoints */

/* Grid related breakpoints */

/* Grid shifts from 6 to 14 columns. */

/* Width of the entire grid maxes out. */

.wide-image {
  margin-block-start: var(--sp0-5);   margin-block-end: var(--sp2);   margin-inline-start: 0;   margin-inline-end: 0
}

@media (min-width: 38.88889rem) {

.wide-image {
    width: calc(var(--grid-col-width--md)*14 + var(--grid-gap--md)*13);
    margin-block: var(--sp2) var(--sp4);
    margin-inline-start: calc(var(--grid-col-width--md)*-1 + var(--grid-gap--md)*-1)
}
  }

@media (min-width: 55.55556rem) {

.wide-image {
    width: calc(var(--grid-col-width--lg)*12 + var(--grid-gap--lg)*11);
    margin-inline-start: calc(var(--grid-col-width--lg)*-1 + var(--grid-gap--lg)*-1)
}
  }

@media (min-width: 66.66667rem) {

.wide-image {
    width: calc(var(--grid-col-width--nav)*12 + var(--grid-gap--nav)*11);
    margin-inline-start: calc(var(--grid-col-width--nav)*-1 + var(--grid-gap--nav)*-1)
}
  }

@media (min-width: 80rem) {

.wide-image {
    width: calc(var(--grid-col-width--max)*12 + var(--grid-gap--max)*11);
    margin-inline-start: calc(var(--grid-col-width--max)*-1 + var(--grid-gap--max)*-1)
}
  }

/* Ensure that image doesn't overlap sidebar. */

@media (min-width: 55.55556rem) {

.sidebar-grid .wide-image {
    width: calc(var(--grid-col-width--lg)*9 + var(--grid-gap--lg)*8)
}
  }

@media (min-width: 66.66667rem) {

.sidebar-grid .wide-image {
    width: calc(var(--grid-col-width--nav)*9 + var(--grid-gap--nav)*8)
}
  }

@media (min-width: 72.22222rem) {

.sidebar-grid .wide-image {
    width: calc(var(--grid-col-width--nav)*10 + var(--grid-gap--nav)*9)
}
  }

@media (min-width: 80rem) {

.sidebar-grid .wide-image {
    width: calc(var(--grid-col-width--max)*10 + var(--grid-gap--max)*9)
}
  }

/* Ensure that image doesn't overlap layout builder sections when editing layouts. */

.layout-builder .wide-image {
  max-width: 100%;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
